<div class="create-event">
  <h1>Create a New Event</h1>

  <form action="" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
    
    <label for="map-container">Mark your spot on the map</label>
    <div id="map-container" ></div>

    <!--label for="select-latitude">Latitude</label-->
    <input required id="select-latitude" type="text" name="latitude" placeholder="Latitude">

    <!--label for="select-longitude">Longitude</label-->
    <input required id="select-longitude" type="text" name="longitude" placeholder="Longitude">

    <button>Create Event</button>
  </form>
</div>

<script>
 
  //console.log($endDateTime.value)
    
  let map;
  let marker;

  const $inputLatitude = document.getElementById('select-latitude');
  const $inputLongitude = document.getElementById('select-longitude'); 

  function initMap() {
    const $mapContainer = document.getElementById('map-container');

    map = new window.google.maps.Map($mapContainer, {
      center: {lat: 38.74, lng: -9.14 },
      zoom: 10
    });

    map.addListener('click', event => {
      const latitude = event.latLng.lat();
      const longitude = event.latLng.lng();

      $inputLatitude.value = Number(latitude);
      $inputLongitude.value = Number(longitude);

      if(marker) { marker.setMap(null); }

      addMarker( {lat: latitude, lng: longitude} , 'purple');
    });
  }

  function addMarker(latLng, color) {
    let url = "http://maps.google.com/mapfiles/ms/icons/";
    url += color + "-dot.png";

    marker = new google.maps.Marker({
      map: map,
      position: latLng,
      icon: {
        url: url
      }
    });
  }

</script>

{{> mapscript}}

