You are in List of Store's Categories > Supermarket

<h1>SUPERMARKET</h1>
<a href="/storelist">Back</a>

<a href="/storelist/supermaket/supermakertId">
  <img src="" alt="">
  Supermarket da Lapa
</a>

<a href="">
  <img src="" alt="">
  Supermarket do Rato
</a>

<a href="">
  <img src="" alt="">
  Supermarket da Estrela
</a>

<a href="">
  <img src="" alt="">
  Supermarket da Santos
</a>

