<article>
  <h1>SUPERMARKET DA LAPA</h1>
  <a href="/storelist/supermaket">Back</a>


  <Address>
    <img src="" alt="">
    <p>Address:</p>
    R. de Stan'Ana à Lapa 56, <br/>
    1200-022 Lisboa
  </Address>

  <section>
    <h3>ABOUT THIS PLACE</h3>
    <ul>
      <li>Large dimension</li>
      <li>Dog-friendly</li>
      <li>Braille Tags</li>
      <li>Without stairs</li>
      <li>Personal assistant</li>
    </ul>
  </section>
  <a href="">GET DIRECTIONS</a>
  <a href="/storelist/supermaket/supermakertId/categories">START SHOP LIST</a>

</article>
