<h1>STORE LIST</h1>

<a href="">Back</a>

<a href="">
  <img src="" alt="">
  Supermarket
</a>
<a href="">
  <img src="" alt="">
  Cafés
</a>
<a href="">
  <img src="" alt="">
  Pharmacy
</a>
<a href="">
  <img src="" alt="">
  Retail
</a>
<a href="">
  <img src="" alt="">
  Restaurant
</a>
<a href="">
  <img src="" alt="">
  Groceries
</a>
<a href="">
  <img src="" alt="">
  Market
</a>
<a href="">
  <img src="" alt="">
  Drugstore
</a>