<section class="store-list">
<h1>STORE LIST</h1>

<button><a href="">Back</a></button>
  <div class="row-data">
    <div class="store">
      <a href="#">
      <img src="https://source.unsplash.com/random" alt="">
      <p>Supermarket</p>
      </a>
    </div>

    <div class="store">
      <img src="https://source.unsplash.com/random" alt="">
      <p>Supermarket</p>
    </div>

    <div class="store">
      <img src="https://source.unsplash.com/random" alt="">
      <p>Cafés</p>
    </div>

    <div class="store">
      <img src="https://source.unsplash.com/random" alt="">
      <p>Pharmacy</p>
    </div>

    <div class="store">
      <img src="https://source.unsplash.com/random" alt="">
      <p>Retail</p>
    </div>

    <div class="store">
      <img src="https://source.unsplash.com/random" alt="">
      <p>Restaurant</p>
    </div>

    <div class="store">
      <img src="https://source.unsplash.com/random" alt="">
      <p>Groceries</p>
    </div>

    <div class="store">
      <img src="https://source.unsplash.com/random" alt="">
      <p>Market</p>
    </div>

    <div class="store">
      <img src="https://source.unsplash.com/random" alt="">
      <p>Drugstore</p>
    </div>
</div>


</section>