
<a href="/storelist">
  {{!-- <img src="/public/images/foodism360-0eJVAZJ7jJU-unsplash.jpg" alt=""> --}}
<section class="first-section">
  <button>Start Shopping</button>
  
</section>
</a>

<section class="second-section">

  <h1>What</h1>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero provident accusantium delectus necessitatibus cum, dignissimos sapiente perferendis incidunt possimus aliquam, natus non vitae corrupti laudantium alias, quibusdam tenetur earum eius.</p>

</section>


<section class="third-section">

  <h1>How does it works</h1>
  
  <div class="cards">
    <div class="image-and-text">
      <img src="https://source.unsplash.com/random" alt="">
      <p class="card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero provident </p>
    </div>
    <div class="image-and-text">
      <img src="https://source.unsplash.com/random" alt="">
      <p class="card">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    </div>
    <div class="image-and-text">
    <img src="https://source.unsplash.com/random" alt="">
    <p class="card">Lorem ipsum dolor sit amet consectetur </p>
    </div>
    <div class="image-and-text">
    <img src="https://source.unsplash.com/random" alt="">
    <p class="card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero provident accusantium </p>    
    </div>
  </div>
  <button>Start Shopping</button>
  
</section>

<section class="fourth-section">
  <h1>The Team</h1>
  <div class="cards">
    <div class="image-and-text">
      <img src="https://source.unsplash.com/random" alt="">
      <p class="card">Lorem ipsum dolor sit consectetur adipisicing</p>
    </div>
    <div class="image-and-text">
      <img src="https://source.unsplash.com/random" alt="">
      <p class="card">Lorem ipsum dolor sit consectetur adipisicing</p>
    </div>
    <div class="image-and-text">
    <img src="https://source.unsplash.com/random" alt="">
    <p class="card">Lorem ipsum dolor sit consectetur adipisicing </p>
    </div>
    <div class="image-and-text">
    <img src="https://source.unsplash.com/random" alt="">
    <p class="card">Lorem ipsum dolor sit consectetur adipisicing</p>    
    </div>
  </div>
</section>
