<a href="">BACK</a>

<a href="">
  <img src="" alt="">
  <p>Vegetables and Fruit</p>
</a>
<a href="">
  <img src="" alt="">
  <p>Bakery</p>
</a>
<a href="">
  <img src="" alt="">
  <p>Vegetables and Fruit</p>
</a>
<a href="">
  <img src="" alt="">
  <p>Hygiene</p>
</a>
<a href="">
  <img src="" alt="">
  <p>Sweets and Biscuits</p>
</a>
<a href="">
  <img src="" alt="">
  <p>Fridge Products</p>
</a>
<a href="">
  <img src="" alt="">
  <p>Meat and Fish</p>
</a>