<a href="">BACK</a>

<a href="">
  <img src="" alt="">
  <p>Potato</p>
</a>
<a href="">
  <img src="" alt="">
  <p>Tomato</p>
</a>
<a href="">
  <img src="" alt="">
  <p>Apple</p>
</a>
<a href="">
  <img src="" alt="">
  <p>Bananas</p>
</a>