$font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$grey: hsla(0, 0, 75%, 0.5);

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;

  }
}

body {
  min-height: calc(100vh - 80px );
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-family: $font-sans;
  line-height: 2;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
  color: black;
  &:hover {
    color: black;
  }
}

nav {
  display: flex;
  width: 52em;
  height: 80px;
  align-self: center;
  justify-self: center;
  font-size: 1.2em;
  a,
  button {
    padding: 1em 0;
    border: 0;
    color: black;
    &:not(:last-child) {
      margin-right: 1em;
    }
    &:first-child {
      margin-right: auto;
    }
    &:hover {
      color: black;
    }
  }
}

h1,
h2,
h3,
p {
  margin: 0;
  line-height: inherit;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

img {
  width: 100%;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea,
button,
.btn {
  padding: 1em;
  border: 1px solid $grey;
  border-radius: 0;
  margin-bottom: 1em;
  width: 500px;
  height: 100px;
  font: inherit;
  color: inherit;
  background-color: orange;
}

textarea {
  min-height: 8em;
  resize: vertical;
}

footer{

}

#map-container {
  width: 100%;
  height: 30em;
}

.first-section {
  width: 100%;
  height: 100vh;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.second-section {
  width: 100%;
  height: 60vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
    h1 {
      font-size: 2em;
    }
    p {
      width: 700px;
    }
}

.third-section {
  width: 100%;
  height: 70vh;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  .cards {
    display: flex;
    flex: row;
    align-items: space-around;
  }
    .card {
      width: 200px;
      margin-right: 20px;
      margin-bottom: 10px;
      background-color: transparent;
      border: none;

    }
  .image-and-text {
    display: flex;
    flex-direction: column;
    img {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      margin-bottom: 10px;
    }
  }
}

.fourth-section {
  width: 100%;
  height: 70vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  .cards {
    display: flex;
    flex: row;
    align-items: space-around;
  }
    .card {
      width: 200px;
      margin-right: 20px;
      margin-bottom: 10px;
      background-color: transparent;
      border: none;
    }
  .image-and-text {
    display: flex;
    flex-direction: column;
    img {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      margin-bottom: 10px;
    }
  }
}

